body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("../imagens/back.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative; /* Necessário para o overlay de fumê */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente com tom escuro */
  z-index: 1; /* Coloca o overlay atrás dos demais elementos */
}

h1,
h2 {
  color: orangered;
  text-shadow: 2px 2px 4px #fff;
  font-size: 3rem;
  line-height: 1px;
  z-index: 2; /* Coloca o texto acima do overlay */
  position: relative; /* Necessário para o overlay de fumê */
}

.hidden {
  display: none;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 10px;
  margin: 20px;
  margin-top: 20px; /* Adiciona espaço acima da primeira linha do tabuleiro */
  z-index: 2; /* Coloca o tabuleiro acima do overlay */
  position: relative; /* Necessário para o overlay de fumê */
}

.card {
  width: 100px;
  height: 150px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fundo semi-transparente para os cards */
  perspective: 1000px; /* Adiciona perspectiva para o efeito 3D */
  box-sizing: border-box;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  background: url("../imagens/Carta-Verso.webp") no-repeat center center;
  background-size: cover;
}

.card-front img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  padding: 10px; /* Adiciona padding para respiro */
}

.card-front {
  transform: rotateY(180deg);
}

#start-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  z-index: 2; /* Coloca o botão acima do overlay */
  position: relative; /* Necessário para o overlay de fumê */
}

#start-button:hover {
  background-color: orangered;
  border: 1px solid orangered;
  transition: all ease 0.3s;
}

#records-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: orangered;
  color: #fff;
  border: 1px solid orangered;
  border-radius: 20px;
  z-index: 2;
  position: relative;
  transition: all ease 0.3s;
}

#records-button:hover {
  background-color: darkred;
  border: 1px solid darkred;
}

#message {
  margin-top: 20px;
  font-size: 30px;
  color: white; /* Cor da mensagem em branco */
  text-shadow: 1px 1px 2px black; /* Leve sombra preta */
  z-index: 2; /* Coloca a mensagem acima do overlay */
  position: absolute; /* Permite posicionar sobre o tabuleiro */
  top: 40%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
  text-align: center; /* Centraliza a mensagem */
  font-weight: bold; /* Texto em negrito */
  line-height: 1.5; /* Adiciona espaçamento entre linhas */
}

/* Modal container */
.modal {
  display: none; /* Esconder o modal por padrão */
  position: fixed; /* Ficar fixo */
  z-index: 3; /* Ficar acima de tudo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar scroll caso necessário */
  background-color: rgba(0, 0, 0, 0.4); /* Fundo escurecido */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal titles */
.modal-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.difficulty-title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px;
}

/* Difficulty buttons */
.difficulty-btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

#easy {
  background-color: green;
}

#medium {
  background-color: orange;
}

#hard {
  background-color: red;
}

.difficulty-btn:hover {
  opacity: 0.8;
}

/* Progress bar */
#progress-container {
  display: none; /* Esconder a barra de progresso por padrão */
  position: fixed;
  left: 20px; /* Afasta da lateral esquerda */
  top: 10%;
  width: 20px;
  height: 80%; /* Diminui o tamanho da barra */
  background-color: #ddd;
  z-index: 2; /* Coloca a barra acima do fundo */
}

#progress-bar {
  width: 100%;
  height: 100%;
  background-color: orangered;
  transition: height 0.3s ease;
  transform-origin: top; /* Adiciona o ponto de origem para o topo */
  transform: scaleY(1); /* Garante que a escala inicial seja completa */
}

/* Action buttons */
.action-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: orangered;
  color: #fff;
  border: 1px solid orangered;
  border-radius: 20px;
  transition: all ease 0.3s;
}

.action-btn:hover {
  background-color: darkred;
  border: 1px solid darkred;
}

/* Alinhamento dos botões de ação */
#action-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 20px; /* Adiciona 20px da margem inferior */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* Estilo para o novo modal */
.modal-content p {
  font-size: 20px;
  margin-bottom: 20px;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
